@import "tailwindcss";

:root {
  --color-primary: #0F6E56;
  --color-primary-light: #E1F5EE;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}